{% load static %}
{% static "images" as baseUrl%}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reservoirsupport/newunit.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/reservoirsupport/motors.js"></script>  
    <title>JHF Power Unit Configurator</title>
</head>
<h1>JHF Power Unit Configurator</h1>
<a hidden="hidden" id="allmotors">{{ allmotors }}</a>
<body onload='cookiecheck(), motors()'>
    <div id="flow_div" hidden="hidden">
        <a id="flows"></a><br>
        <a id="total">Total theoretical required horsepower is 0 HP at 1800 RPM and 95% efficiency.</a>
    </div>
    <div id='motors'>
        <form id='motorform'>
            Select a motor:<br>
            <select id='motorselect'></select><br>
            <input type='button' id='motorsubmit' value='Submit'>
        </form>
    </div>
</body>
<div id="logout">
    <a href="/logout">Logout</a>
</div>
</html>