{% load static %}
{% static "images" as baseUrl%}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reservoirsupport/newunit.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/reservoirsupport/pumpmanual.js"></script>  
    <title>Power Unit Pump Selection</title>
    <script ></script>
</head>
<h1>JHF Power Unit Configurator</h1>
<div id="logout">
    <a href="/logout">Logout</a>
</div>
<body onload="cookiecheck();">
    <br>
<form>
        {% csrf_token %}
    <table id="configuration">
        <tr>
            <th>Part Number</th>
            <th>Item Name</th>
            <th>On Hand Quantity</th>
            <th>Cost Each</th>
            <th>Stock Status</th>
            <th>GoTo Status</th>
        </tr>
        <tr class="tr_product" id="tr_pumps"> 
            <td class="td_component" colspan='6'>
                <a href="manual/pumps">Pumps</a>
            </td>
        </tr>
        <tr class="tr_product" id="tr_motors">
            <td class="td_component" colspan='6'>
                <a href="manual/motors">Electric Motors</a>
            </td>
        </tr>
        <tr class="tr_product" id="tr_reservoirs">
            <td class="td_component" colspan='6'>
                <a href="manual/reservoirs">Reservoirs</a>
            </td>
        </tr>
        <tr class="tr_product" id="tr_couplings">
            <td class="td_component" colspan='6'>
                <a>Pump/Motor Attachment</a>
            </td>
        </tr>
    </table>
</form>

</body>
</html>