{% load static %}
{% static "images" as baseUrl%}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reservoirsupport/newunit.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/reservoirsupport/pumpmanual.js"></script>  
    <title>Power Unit Pump Selection</title>
</head>
<h1>JHF Power Unit Configurator</h1>
<div id="logout">
    <a href="/logout">Logout</a>
</div>
<body onload=modalpic()>
    <form id="pumpconfiguration">
        {% csrf_token %}    
        <label for="pumpnums">How many pumps are required?</label>
        <select id="pumpnums" name="pumpnums">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="button" id="pumpnumsubmit" class="buttons">Select</button>
        <button type="button" id="pumpnumreset" hidden="hidden" class="buttons">Select</button>
    </form>  

</body>
<div id="chart">
    Through drive pump options are based off GoTo pumps or available through-drive adapter kits.<br>
    <img id="myImg" src="{% static 'images/throughdrives.png' %}" alt="Through Drives" style="width:100%;max-width:300px">
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
</div>
</html>