{% load static %}
{% static "images" as baseUrl%}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'reservoirsupport/newunit.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/reservoirsupport/pumps.js"></script> 
    <title>Pump Selection</title>
    <h1>Pump Selection</h1>
</head>
<body onload="readcookies(); modalpic();">
    <div id="option">
        <br>
        Would you like to use the pump/though-drive selection wizard or enter your own parts?
        <button id="towizard" onclick="selection('wiz')">Selection Wizard</button>
        <button id="tomanual" onclick="selection('man')">Leavemealoneiknowwhatiamdoing</button>
    </div>
<div id="wizard" hidden="hidden">
    <br>
    <table id="pumpconfiguration">
        <form>
            {% csrf_token %}
            <tr>    
                <td><label for="pumpnums">How many pumps are required?</label></td>
                <td><select id="pumpnums" name="pumpnums">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select></td>
                <td><button type="button" id="pumpnumsubmit" class="buttons">Select</button></td>
                <td><button type="button" id="pumpnummodify" class="buttons" disabled="disabled">Modify</button></td>
            </tr>
          
    </table>
    <br>
    <table id="pumptable" hidden="hidden">
        <div id="notes" hidden="hidden">Preferred pump is <a id="pumppref" style="font-weight: bold"></a>. Please note the rear style of the pump you are selecting! The through drive 
        configurator will not check your selections. <br>Through drives are only setup for U00 A15/A10-32 and U99 A4 pumps, with some K01/K68 pumps. Please try to select a pump 
        matching the code of the preferred<br> pumps above.</div><br>
        <tr>
            <th colspan='8'><a id="pumpnumber" style="font-weight: bold"></a></th>
        </tr>
        <tr>
            <th>Part Number</th>
            <th>Item Name</th>
            <th>On Hand Quantity</th>
            <th>Cost Each</th>
            <th>Stock Status</th>
            <th>Preferred Pump</th>
            <th>GoTo Status</th>
            <th>Select</th>
        </tr>
    </table>
</div>
</body>
<div id="chart">
    Through drive pump options are based off GoTo pumps or available through-drive adapter kits.<br>
    <img id="myImg" src="{% static 'images/throughdrives.png' %}" alt="Options for through drives. K-covers are increasingly rare and as such are not included in this configurator." style="width:100%;max-width:300px">
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
</div>
</html>