{% load static %}
{% static "images" as baseUrl%}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pumpmotorsupport/pumpmotor.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/pumpmotorsupport/pumpmotor.js"></script>  
    <title>Pump/Motor Group Configuration</title>
</head>
<h1>Pump/Motor Group Configuration</h1>
<div id="logout">
    <a href="/logout">Logout</a>
</div>
<div id="home">
    <a href="/">Return to Homepage</a>
</div>
<body>
    <div id="motorselection">
    <form id="pmgroup" method="POST">
        {% csrf_token %}
        <br>
        Select the Required Horsepower:<br>         
        {{motor}}<br>
        Select the Required Motor Volage:<br>
        Voltage:
        <select id="voltage" name="voltage">
            <option value="">Select...</option>
            <option value="1" id="1">110V/230V Single Phase</option>
            <option value="2" id="2">240V/480V Three Phase</option>
            <option value="3" id="3">575V Three Phase</option>
        </select><br>
        Select the Required Pump:<br>        
        {{pumps}}<br>

        <input type="button" class="button" value="Submit" id="submit">
    </form>
    <table class="text" hidden="hidden" id="table">
        <tr>
            <th colspan="2">Configuration</th>
        </tr>
        <tr>
            <td>Bellhousing: </td>
            <td id="bellhousing"></td>
        </tr>
        <tr>
            <td>Motor Side Coupling:</td>
            <td id="motcoup"></td>
        </tr>
        <tr>
            <td>Pump Side Coupling:</td>
            <td id="pumcoup"></td>
        </tr>
        <tr>
            <td>Coupling Insert:</td>
            <td id="insert"></td>
        </tr>
        <tr>
            <td>Shaft-to-Shaft Distance:</td>
            <td id="shafts"></td>
        </tr>
        <tr>
            <td>Electric Motor:</td>
            <td id="motor"></td>
        </tr>
        <tr>
            <td>Selected Pump:</td>
            <td id="pump"></td>
        </tr>
    </table>
    <a id="error" class="text"></a>
    </div>
</body>
</html>