.button {
	background-color: white;
	color: black;
	text-align: center;
	padding: 7px 30px;
	border-radius: 10px;
	margin-left: 25px;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Arial;
	text-decoration: underline;
}
#submit {
	background-color: white;
	color: black; 
	text-align: center;
	padding: 7px 30px;
	border-radius: 10px;
	margin-left: 25px;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Arial;
}
.text {
	font-size: 20px;
	font-family: arial;
	padding-left: 25px;
}

#pmgroup {
	padding-left: 25px;
	font-size: 20px;
}
table, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    background: white;
}