{% load static %}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'valveStyle.css' %}">
    <title>Manifold Builder- Bill of Materials</title>
    <h1 id="header">Manifold Builder- Bill of Materials</h1>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/manifoldbom.js"></script>
<body onload='tableBuild()'>
    <div id="confirmationTable" hidden="hidden">
        <br>
        <table id="configurationTable">
            <thead>
                <tr>
                    <th>Station Number</th>
                    <th>Valve Code</th>
                    <th>Flow Control Ports</th>
                    <th>Flow Control Direction</th>
                    <th>Counterbalance Valve Ports</th>
                    <th>P.O. Check Valve Ports</th>
                    <th>Reducing Valve Ports</th>
                    <th>Reducing Valve Reverse Checks</th>
                    <th>Relief Valve Ports</th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
        <br>
    </div>
<br>
    <div>
        <form action="download/" method="POST" id="download">
            {% csrf_token %}
            <button type="submit" class="button" id="test">Download as Excel</button>
            <button type="button" onclick="window.location.href='/home'" class="button">Return to Home Page</button>
            <input type="text" id="partnumbers" name="partnumbers" hidden="hidden" value="{{ partnumbers }}">
            <input type="text" id="details" name="details" hidden="hidden" value="{{ details }}">
            <input type="text" id="valveData" name="valveData" hidden="hidden" value="{{ valveData }}"><br>
            <input type="text" id="search" name="search" hidden="hidden" value="{{ search }}">
            <a id="note" class="text">Part Numbers and Valve Configurations will be saved under Project ID #</a><br><br>
        </form>
    </div>
    <div id="partList">
        <table>
            <caption>Bill of Materials</caption>
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Part Number</th>
                </tr>
            </thead>
            <tbody id="bom">
            </tbody>
        </table>
    </div>  
</body>
<div id="logout1">
    <a href="/logout">Logout</a>
</div>
</html>