{% load static %}
{% static "images" as baseUrl%}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'newunit.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/reservoir.js"></script>  
    <title>Power Unit Reservoir Selection</title>
</head>
<a id="accountnumber" hidden="hidden">{{ accountnumber }}</a>
<a id="data" hidden="hidden">{{ data }}</a>
<body onload='getdata()'>
    <form id="reservoirs" method="POST">
        {% csrf_token %}
        <br>
        Select the Required Reservoir:<br>         
        {{ reservoir }}<br>
        <input type="button" class="button" value="Submit" id="submit">
    </form>
</body>
</html>