{% load static %}
{% static "images" as baseUrl%}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Manifold Builder</title>
<link rel="stylesheet" type="text/css" href="{% static 'basestyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'valveStyle.css' %}">
<h1 id="header">Manifold Builder</h1>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="/static/manifold.js"></script>-->
<body class="main">
	<div id="sizeSelect">
		<form autocomplete="off" id="baseManifoldForm">
			<table id="manifoldDetails">
				<tr>
					<th>Valve Size</th>
					<th>Number of Stations</th>
					<th>Relief Valve?</th>
					<th>Pressure</th>
					<th class="reliefClass" hidden="hidden">Relief Style</th>
				</tr>
				<tr>
					<td>
						<select id="valveSize" name="valveSize">
							<option value="test" selected="selected" disabled="disabled">Select Valve Size</option>
							<option value="D03">D03 (Recommended &lt 15GPM)</option>
							<option value="D05">D05 (Recommended &lt 31GPM)</option>
							<option value="D08">D08 (Recommended &lt 110GPM)</option>
						</select>
					</td>
					<td>
						<input type="number" min="1" max="10" value="1" id="stationNumber">
					</td>
					<td>
						<select id="reliefSelect" name="reliefSelect">
							<option value="" selected="selected" disabled="disabled">Select Relief Style</option>
							<option value="1">Yes</option>
							<option value="0">No</option>
						</select>
					</td>
					<td>
						<select id="pressureSelect" name="pressureSelect">
							<option value="" selected="selected" disabled="disabled">Select Pressure</option>
							<option value="lowPressure">Aluminum/3000psi</option>
							<option value="highPressure">Ductile/5000psi</option>
						</select>
					</td>
					<td class="reliefClass" name="reliefClass" hidden="hidden">
						<select id="reliefStyle">
							<option value="" selected="selected" disabled="disabled">Select Relief Class</option>
							<option value="direct">Direct-Acting</option>
							<option value="pilot">Pilot-Operated</option>
						</select>
					</td>
			</table>
		</form>
		<button id="sizeSubmit" class="button">Submit</button>
	</div>
	<br>
	<div id="stationMath" hidden="hidden">
		<div id="valveSelection">
		<!--Allow user to select a spool code pictographically and voltage from a short list of available options.-->
			<form id="spoolSelection">
			<span id="stationTag">Station 1 TEST</span><br><br>
				<button type="button" value="E Spool" border="0" class="spoolButtons"><img src="{% static 'images/e_spool.png'%}" alt="E-Spool" class="spools"></button>
				<button type="button" value="G Spool" border="0" class="spoolButtons"><img src="{% static 'images/g_spool.png'%}" alt="G-Spool" class="spools"></button>
				<button type="button" value="D Spool" border="0" class="spoolButtons"><img src="{% static 'images/d_spool.png'%}" alt="D-Spool" class="spools"></button>
				<button type="button" value="H Spool" border="0" class="spoolButtons"><img src="{% static 'images/h_spool.png'%}" alt="H-Spool" class="spools"></button>
				<button type="button" value="J Spool" border="0" class="spoolButtons"><img src="{% static 'images/j_spool.png'%}" alt="J-Spool" class="spools"></button>
				<button type="button" value="L Spool" border="0" class="spoolButtons"><img src="{% static 'images/l_spool.png'%}" alt="L-Spool" class="spools"></button>
				<button type="button" value="M Spool" border="0" class="spoolButtons"><img src="{% static 'images/m_spool.png'%}" alt="M-Spool" class="spools"></button>
				<button type="button" value="P Spool" border="0" class="spoolButtons"><img src="{% static 'images/p_spool.png'%}" alt="P-Spool" class="spools"></button>
				<button type="button" value="U Spool" border="0" class="spoolButtons"><img src="{% static 'images/u_spool.png'%}" alt="U-Spool" class="spools"></button>
				<button type="button" value="W Spool" border="0" class="spoolButtons"><img src="{% static 'images/w_spool.png'%}" alt="W-Spool" class="spools"></button>
				<button type="button" value="F Spool" border="0" class="spoolButtons"><img src="{% static 'images/f_spool.png'%}" alt="F-Spool" class="spools"></button>
			</form>
			<br>

			<form id="valveVoltage" hidden="hidden" class="cleanupClass">
				<select id="stationVoltage">
					<option value="0" selected="selected" disabled="disabled">Select...</option>
					<option value="W110">110/120V AC</option>
					<option value="G24">24V DC</option>
					<option value="G12">12V DC</option>
					<option value="W230">230V AC</option>
				</select>
				<br>
			</form>
			<br>
			<button type="button" id="voltageSubmit" class="button" disabled="disabled" hidden="hidden">Submit</button>
		</div>
		<div id="sandwichTime" hidden="hidden">
			<form id="sandwichOptions">
				Please select any sandwich valves required for this station.<br>
				<input type="checkbox" id="flowControl" name="flowControl" value="flowControl" class="sandwichConfigurator">
				<label for="flowControl">Flow Control</label><br>
				<input type="checkbox" id="counterBalance" name="counterBalance" value="counterbalance" class="sandwichConfigurator">
				<label for="counterBalance">Counterbalance Valve</label><br>
				<input type="checkbox" id="poCheck" name="poCheck" value="poCheck" class="sandwichConfigurator">
				<label for="poCheck">Pilot Operated Check</label><br>
				<input type="checkbox" id="reducing" name="reducing" value="reducing" class="sandwichConfigurator">
				<label for="reducing">Reducing Valve</label><br>
				<input type="checkbox" id="relieving" name="relieving" value="relieving" class="sandwichConfigurator">
				<label for="relieving">Cross Port Relief Valves</label><br>
			</form>
			
			<form id="sandwichConfig">
				<br>
				<table>
					<tr>
						<th class="flowControlConfig" hidden="hidden">Flow Control Ports</th>
						<th class="flowControlConfig" hidden="hidden">Flow Control Configuration</th>
						<th class="counterbalanceConfig" hidden="hidden">Counterbalance Ports</th>
						<th class="pocheckConfig" hidden="hidden">P.O. Check Work Ports</th>
						<th class="reducingConfig" hidden="hidden">Reducing Valve Work Ports</th>
						<th class="relievingConfig" hidden="hidden">Cross Port Relief Configuration</th>
					</tr>
					<tr>
						<td class="flowControlConfig" hidden="hidden">
							<select id="flowStyle" class="sandwichConfigurator">
								<option value="On A Port">On 'A' Port</option>
								<option value="On B Port">On 'B' Port</option>
								<option class="defaultSelect" value="On A &amp B Ports" selected="selected">On 'A' &amp 'B' Ports</option>
							</select>
						</td>
						<td class="flowControlConfig" hidden="hidden">
							<select id="fcDirect" class="sandwichConfigurator">
								<option id="defaultSelect" value="Meter Out" selected="selected">Meter Out</option>
								<option value="Meter In">Meter In</option>
							</select>
						</td>
						<td class="counterbalanceConfig" hidden="hidden">
							<select id="cbStyle" class="sandwichConfigurator">
								<option value="On A Port">On 'A' Port</option>
								<option value="On B Port">On 'B' Port</option>
								<option class="defaultSelect" value="On A &amp B Ports" selected="selected">On 'A' &amp 'B' Ports</option>
							</select>
						</td>
						<td class="pocheckConfig" hidden="hidden">
							<select id="poStyle" class="sandwichConfigurator">
								<option value="On A Port">On 'A' Port</option>
								<option value="On B Port">On 'B' Port</option>
								<option class="defaultSelect" value="On A &amp B Ports" selected="selected">On 'A' &amp 'B' Ports</option>
							</select>
						</td>
						<td class="reducingConfig" hidden="hidden">
							<select id="reduceStyle" class="sandwichConfigurator">
								<option value="On A Port">On 'A' Port</option>
								<option value="On B Port">On 'B' Port</option>
								<option value="On P Line">On 'P' Line</option>
								<option class="defaultSelect" value="On A &amp B Ports" selected="selected">On 'A' &amp 'B' Port</option>
							</select>
						</td>
						<td class="relievingConfig" hidden="hidden">
							<select id="relievingStyle" class="sandwichConfigurator">
								<option value="On P Line" id="reliefOnP">On 'P' Line</option>
								<option class="defaultSelect" value="A to B, B to A" selected="selected">A to B, B to A (Cross Port)</option>
							</select>
						</td>
					</tr>
				</table>
				<span class="flowControlConfig" hidden="hidden">Hint: When in doubt, meter out!</span>
				<br>
				<button type="button" class="button sandwichConfigurator" id="sandwichStyleSubmit">Submit</button>
				<button type="button" class="button configConfirm" id="sandwichStyleModify" hidden="hidden">Modify Configuration</button>
				<button type="button" class="button configConfirm" id="sandwichStyleConfirm" hidden="hidden">Confirm</button>
			</form>
		</div>
		<div id="confirmationTable" hidden="hidden">
			<br>
			<table id="configurationTable">
				<thead>
					<tr>
						<th>Station Number</th>
						<th>Valve Code</th>
						<th>Flow Control Ports</th>
						<th>Flow Control Direction</th>
						<th>Counterbalance Valve Ports</th>
						<th>P.O. Check Valve Ports</th>
						<th>Reducing Valve Ports</th>
						<th>Relief Valve Ports</th>
					</tr>
				</thead>
				<tbody id="tbody">
				</tbody>
			</table>
			<br>
			<span class="notes">Is this configuration correct? If not, please make notes in the text box below.</span>
			<button type="button" class="button clean2" id="confirmTable">Confirm</button>
			<form class="valveCables clean2 notes" hidden="hidden">
				Are cables required for the solenoid valves?
				<select id="cableSelect">
					<option value=1 selected="selected">Yes</option>
					<option value=0>No</option>
				</select>
			</form>
			<button type="button" class="button valveCables clean2" id="submitTable" hidden="hidden">Submit</button>
		</div>
	</div>
	<br>
	<div id="partList">
		<table id="billOfMaterials" hidden="hidden">
			<caption>Bill of Materials</caption>
			<thead>
				<tr>
					<th>Quantity</th>
					<th>Part Number</th>
				</tr>
			</thead>
			<tbody id="bomBody">
			</tbody>
		</table>
	</div>
	<p id="demo"></p>
		
	<div class="sidebar">
		<a id="details">Details:</a>
		<a id="manifold"></a>
		<a id="reliefValve"></a>
		<a id="valveCodes"></a>

	</div>
		<div id="textBox">
		Please enter any notes or concerns for the Power Units department here.<br>
		<form id="noteBox">
			<textarea name="powerUnitNotes"></textarea>
		</form>
	</div>
	
</body>
<div id="logout">
    <a href="/logout">Logout</a>
</div>
</html>
<script>
	"use strict";
	var manifoldPN;
	var reliefPN;
	var valvePN;
	var voltageAR = [0,0,0,0];
	//My attempt at form validation. It technically works.
	$(document).ready(function(){
		$("#sizeSubmit").click(function(){
			var valveS;
			var reliefS;
			var pressS;
			var relS;
			if($("#valveSize").val() == null){
				valveS = "1";
				$("#valveSize").css("background-color","yellow");
			}else{
				$("#valveSize").css("background-color","white");
			}
			if($("#reliefSelect").val() == null){
				reliefS = "1";
				$("#reliefSelect").css("background-color","yellow");
			}else{
				$("#reliefSelect").css("background-color","white");
			}
			if($("#pressureSelect").val() == null){
				pressS = "1"
				$("#pressureSelect").css("background-color","yellow");
			}else{
				$("#pressureSelect").css("background-color","white");
			}
			if($("#reliefSelect").val() == "1" && $("#reliefStyle").val() == null){
				relS = "1";
				$("#reliefStyle").css("background-color","yellow");
			}else{
				$("#reliefStyle").css("background-color","white");
			}
			if(valveS == "1" || reliefS == "1" || pressS == "1" || relS == "1"){
				alert("Please complete the form.");
			}else{
				reliefMath();
			}
		});
	});

	//Show or hide the relief valve style dropdown dependant on yes/no valve choice.
	$(document).ready(function(){	
		$("#reliefSelect").change(function(){
			if($("#reliefSelect").val() == "1")
				{
				$(".reliefClass").removeAttr("hidden");
				}else{
				$(".reliefClass").attr("hidden","hidden");
				}
			});
		});
			
		//Select standard, stock JHF relief valve dependant on selected style and size.
		function reliefMath(){	
			var rPressure = $("#pressureSelect").val();
			var rStyle = $("#reliefStyle").val();
			var rSize = $("#valveSize").val();
			if(rPressure == ""|| rStyle == "" || rSize == ""){
				$("#reliefValve").html("");
				}else if($("#reliefSelect").val() == "0"){
					$("#reliefValve").html("");
				}else{
					switch(true){
						case rSize == "D03":
							if(rStyle == "direct" && rPressure == "lowPressure"){
								reliefPN = "RDDA-LAN";
								$("#reliefValve").html("Relief valve:<br>RDDA-LAN");
							}else if(rStyle == "direct" && rPressure == "highPressure"){
								reliefPN = "RDDA-LCN";
								$("#reliefValve").html("Relief valve:<br>RDDA-LCN");
							}else if(rStyle == "pilot" && rPressure == "lowPressure"){
								reliefPN = "RPEC-LAN";
								$("#reliefValve").html("Relief valve:<br>RPEC-LAN");
							}else if(rStyle == "pilot" && rPressure == "highPressure"){
								reliefPN = "RPEC-LCN";
								$("#reliefValve").html("Relief valve:<br>RPEC-LCN");
							}
							break;
						case rSize == "D05":
						case rSize == "D08":
							if(rStyle == "direct" && rPressure == "lowPressure"){
								reliefPN = "RDFA-LAN";
								$("#reliefValve").html("Relief valve:<br>RDFA-LAN");
							}else if(rStyle == "direct" && rPressure == "highPressure"){
								reliefPN = "RDFA-LCN";
								$("#reliefValve").html("Relief valve:<br>RDFA-LCN");
							}else if(rStyle == "pilot" && rPressure == "lowPressure"){
								reliefPN = "RPGC-LAN";
								$("#reliefValve").html("Relief valve:<br>RPGC-LAN");
							}else if(rStyle == "pilot" && rPressure == "highPressure"){
								reliefPN = "RPGC-LCN";
								$("#reliefValve").html("Relief valve:<br>RPGC-LCN");
							}
							break;
						}
					}
				manifoldMath();
			}

		//Combines characters to result in Daman part number for bar manifolds, parallel only, with SAE ports.
		function manifoldMath()
		{	
			var size = $("#valveSize").val();
			var stations;
			var reliefnum;
			var pressure;
			var spacing;
			if($("#reliefSelect").val() == "1"){
				reliefnum = "/S";
			}else if($("#reliefSelect").val() == "0"){
				reliefnum = "";
			}
			if($("#pressureSelect").val() == "highPressure"){
				pressure = "D";
			}else{
				pressure = "A";
			}
			if($("#stationNumber").val() < 10){
				stations = "0" + $("#stationNumber").val();
			}else{
				stations = $("#stationNumber").val();
			}
			if(size == "D03"){
				spacing = "2";
			}else if(size == "D05"){
				spacing = "3";
			}else if(size == "D08"){
				spacing = "5";
			}
			manifoldPN = pressure + size + "P" + stations + spacing + "S" + reliefnum;
			$("#manifold").html("Manifold: <br>" + manifoldPN);
			$("#stationMath").removeAttr("hidden", "hidden");
			$("#sizeSelect").attr("hidden", "hidden");
			cycle();
		}

	//Attempt to re-use following code to loop through selection series for each station.
	var valveData = [];
	var i = 0;
	var h = 0;
	var j = 0;
	var ifBool = false;
	var spoolCode;
	var spoolValveCodes = [];
	function cycle()
	{
		if(i < $("#stationNumber").val()){
			ifBool = true;
			$("#stationMath").removeAttr("hidden", "hidden");
			$("#valveSelection").removeAttr("hidden", "hidden");
			var num = $("#stationNumber").val();
			var station = i + 1;
			$("#stationTag").html("Station " + station);
			console.log(ifBool);
		}else{
			console.log("End of cycle.");
			stationConfirmTable();
		}
	}

		//"Highlights" the selected spool to allow for easier identification of selected spool code.
		$(document).ready(function(){
			$(".spoolButtons").click(function(){
				spoolCode = $(this).attr("value");
				$(".spoolButtons").css("background-color","white");
				$(this).css("background-color","#d4242c");
				$("#valveVoltage").removeAttr("hidden", "hidden");
			});
		});
		//Requires a voltage to be selected prior to submitting valve selection.
		$(document).ready(function(){
			$("#stationVoltage").on("change",function(){
				$("#voltageSubmit").removeAttr("disabled", "disabled");
				$("#voltageSubmit").removeAttr("hidden", "hidden");
			});
		});
		//Build valve model code from selected parameters. Do note that valve series 
		//and R9 numbers are subject to change and may not be completely accurate.
		$(document).ready(function(){
			$("#voltageSubmit").click(function(){
				var voltage = $("#stationVoltage").val();
				var spool = spoolCode.slice(0,1);
				var size = $("#valveSize").val();
				var station = i+1;
				switch(true){
					case size == "D03":
						$("<a>Station " + station + " Valve: <br>4WE6" + spool + "6X/E" + voltage + "N9K4/62 <br></a>").appendTo("#valveCodes");
						spoolValveCodes.push("4WE6" + spool + "6X/E" + voltage + "N9K4/62");
						break;
					case size == "D05":
						$("<a>Station " + station + " Valve: <br>4WE10"+ spool + "5X/E" + voltage + "N9K4 <br></a>").appendTo("#valveCodes");
						spoolValveCodes.push("4WE10"+ spool + "5X/E" + voltage + "N9K4");
						break;
					case size == "D08":
						$("<a>Station " + station + " Valve: <br>4WEH22" + spool + "7X/6" + voltage + "N9ETK4 <br></a>").appendTo("#valveCodes");
						spoolValveCodes.push("4WEH22" + spool + "7X/6" + voltage + "N9ETK4");
						break;
				}
				if($("#reliefSelect").val() == "1"){
					$("#reliefOnP").attr("hidden","hidden");
				}
				if(voltage == "W110"){
					if(spool == "D"){
						voltageAR[0] += 1;
					}else{
						voltageAR[0] += 2;
					}
				}else if(voltage == "G24"){
					if(spool == "D"){
						voltageAR[1] += 1;
					}else{
						voltageAR[1] += 2;
					}
				}else if(voltage == "G12" || voltage == "W230"){
					if(spool == "D"){
						voltageAR[2] += 1;
					}else{
						voltageAR[2] += 2;
					}
				}else{
					console.log("Voltage Counter Broken");
				}
				$("#valveSelection").attr("hidden","hidden");
				$("#sandwichTime").removeAttr("hidden", "hidden");
			});
		});
		//Let user configure sandwich valves and orientations
			$("#flowControl").change(function(){
				if($("#flowControl").is(":checked")){
					$(".flowControlConfig").removeAttr("hidden", "hidden");
				}else{
					$(".flowControlConfig").attr("hidden", "hidden");
				}
			});
			$("#counterBalance").change(function(){
				if($("#counterBalance").is(":checked")){
					$(".counterbalanceConfig").removeAttr("hidden", "hidden");
				}else{
					$(".counterbalanceConfig").attr("hidden", "hidden");
				}
			});
			$("#poCheck").change(function(){
				if($("#poCheck").is(":checked")){
					$(".pocheckConfig").removeAttr("hidden", "hidden");
				}else{
					$(".pocheckConfig").attr("hidden", "hidden");
				}
			});
			$("#reducing").change(function(){
				if($("#reducing").is(":checked")){
					$(".reducingConfig").removeAttr("hidden", "hidden");
				}else{
					$(".reducingConfig").attr("hidden", "hidden");
				}
			});
			$("#relieving").change(function(){
				if($("#relieving").is(":checked")){
					$(".relievingConfig").removeAttr("hidden", "hidden");
				}else{
					$(".relievingConfig").attr("hidden", "hidden");
				}
			});
			
			//Request confirmation on configuration, and allow modifications if necessary.
			$("#sandwichStyleSubmit").click(function(){
				$(".sandwichConfigurator").attr("disabled", "disabled");
				$("#sandwichStyleSubmit").attr("hidden", "hidden");
				$(".configConfirm").removeAttr("hidden","hidden");
				$(".configConfirm").removeAttr("disabled", "disabled");
			});
			$("#sandwichStyleModify").click(function(){
				$(".sandwichConfigurator").removeAttr("disabled", "disabled");
				$(".configConfirm").attr("hidden", "hidden");
				$("#sandwichStyleSubmit").removeAttr("hidden", "hidden");
			});
			//Store station parameters as a single object? I guess for now it will work.
			$("#sandwichStyleConfirm").click(function(){
				var valveNum = spoolValveCodes[i];
				var	flowDirect,
					flowStyle,
					cbStyle,
					poStyle,
					redStyle,
					relStyle;
				if($("#flowControl").is(":checked") == true){
					flowDirect = $("#fcDirect").val();
					flowStyle = $("#flowStyle").val();
				}else{
					flowDirect = "N/A";
					flowStyle = "N/A";
				}
				if($("#counterBalance").is(":checked") == true){
					cbStyle = $("#cbStyle").val();
				}else{
					cbStyle = "N/A";
				}
				if($("#poCheck").is(":checked") == true){
					poStyle = $("#poStyle").val();
				}else{
					poStyle = "N/A";
				}
				if($("#reducing").is(":checked") == true){
					redStyle = $("#reduceStyle").val();
				}else{
					redStyle = "N/A";
				}
				if($("#relieving").is(":checked") == true){
					relStyle = $("#relievingStyle").val();
				}else{
					relStyle = "N/A";
				}
				var station = {
					valveCode: valveNum,
					flowOrient: flowStyle,
					flowDirection: flowDirect,
					cbOrient: cbStyle,
					poOrient: poStyle,
					redOrient: redStyle,
					relOrient: relStyle
				};
				//Valve stack information is pushed into an object pushed into an array to allow for later extraction.
				valveData.push(station);
				cleanUp();
			});
		//Reset all forms to reasonable starting values and clear any kind of configurations for second runthrough.		
		function cleanUp(){
			$("#sandwichTime").attr("hidden", "hidden");
			$(".spoolButtons").css("background-color","white");
			$(".cleanupClass").attr("hidden", "hidden");
			$(".sandwichConfigurator").removeAttr("disabled", "disabled");
			$(".configConfirm").attr("hidden", "hidden");
			$("#sandwichStyleSubmit").removeAttr("hidden", "hidden");
			$("#voltageSubmit").attr("hidden", "hidden");
			$(".cleanupClass")[0].reset();
			i=i+1;
			console.log("i = " + i);
			console.log(spoolValveCodes[i-1]);
			cycle();
		}
		
		function stationConfirmTable(){
			$("#confirmationTable").removeAttr("hidden", "hidden");
			var table = $("#configurationTable");
			var x = (valveData.length);
			console.log("Index Number = " + x);
			var y; //Iterative variable
			for(y=0 ; y<x ; y++){
				var stationNum = "station" + y;
				var num = y+1;
				var row = "<tr id=" + stationNum + "><td>" + 
				num + "</td><td>" + 
				valveData[y].valveCode + 
				"</td><td>" + 
				valveData[y].flowOrient + 
				"</td><td>" + 
				valveData[y].flowDirection + 
				"</td><td>" +
				valveData[y].cbOrient + 
				"</td><td>" +
				valveData[y].poOrient +
				"</td><td>" +
				valveData[y].redOrient +
				"</td><td>" + 
				valveData[y].relOrient + 
				"</td>;"
				$("#tbody").append(row);
			}
		}
		$("#confirmTable").click(function(){
			$(".valveCables").removeAttr("hidden", "hidden");
		});
		
		$("#submitTable").click(function(){
			var x = valveData.length;
			var valveSize = $("#valveSize").val();
			var pressure = $("#pressureSelect").val();
			var y=0,
				fcCounter = 0,
				cbCounter = 0,
				cbACounter = 0,
				cbBCounter = 0,
				poCounter = 0,
				poACounter = 0,
				poBCounter = 0,
				redCounter = 0,
				redACounter = 0,
				redBCounter = 0,
				redPCounter = 0,
				relCounter = 0,
				relPCounter = 0,
				dblFcCounter = 0,
				dblCbCounter = 0,
				dblPoCounter = 0,
				dblRedCounter = 0,
				dblRelCounter = 0,
				sglFcCounter = 0,
				sglCbCounter = 0,
				sglPoCounter = 0,
				sglRelCounter = 0,
				fcAin = 0,
				fcAout = 0,
				fcBin = 0,
				fcBout = 0,
				dblFcInCnt = 0,
				dblFcOutCnt = 0;
				
			for(y=0 ; y<x ; y++){
				if(valveData[y].flowOrient == "N/A"){
				}else if(valveData[y].flowOrient == "On A Port"){
					sglFcCounter++;
					fcCounter++;
					if(valveData[y].flowDirection == "Meter In"){
						fcAin++;
					}else{
						fcBin++
						fcAout++;
					}
				}else if(valveData[y].flowOrient == "On B Port"){
					sglFcCounter++;
					fcCounter++;
					if(valveData[y].flowDirection == "Meter In"){
						fcBin++;
					}else{
						fcAin++;
						fcBout++;
					}
				}else{
					fcCounter = fcCounter + 2;
					dblFcCounter++;
					if(valveData[y].flowDirection == "Meter Out"){
						dblFcOutCnt++;
					}else{
						dblFcInCnt++;
					}
				}
				if(valveData[y].cbOrient == "N/A"){
				}else if(valveData[y].cbOrient == "On A Port"){
					cbCounter++;
					sglCbCounter++;
					cbACounter++;
				}else if(valveData[y].cbOrient == "On B Port"){
					cbCounter++;
					sglCbCounter++;
					cbBCounter++;
				}else{
					cbCounter = cbCounter + 2;
					dblCbCounter++;
				}
				if(valveData[y].poOrient == "N/A"){
				}else if(valveData[y].poOrient == "On A Port"){
					poCounter++;
					sglPoCounter++;
					poACounter++;
				}else if(valveData[y].poOrient == "On B Port"){
					poCounter++;
					sglPoCounter++;
					poBCounter++;
				}else{
					poCounter = poCounter + 2;
					dblPoCounter++;
				}
				if(valveData[y].redOrient == "N/A"){
				}else if(valveData[y].redOrient == "On A Port"){
					redCounter++;
					redACounter++;
				}else if(valveData[y].redOrient == "On B Port"){
					redCounter++;
					redBCounter++;
				}else if(valveData[y].redOrient == "On P Line"){
					redPCounter++;
					redCounter++;
				}else{
					redCounter = redCounter + 2;
					dblRedCounter++;
				}
				if(valveData[y].relOrient == "N/A"){
				}else if(valveData[y].relOrient == "On P Line"){
					relCounter++;
					sglRelCounter++;
				}else{
					relCounter = relCounter + 2;
					dblRelCounter++;
				}
			}
			
			//Build array to store BOM here.
			if(valveSize == "D03"){
				var partNumbers = [
					[fcCounter, "NCCB-LCN"], //FC Valve Quantity
					[dblFcCounter, "GBY"], //DBL FC Body Quantity
					[sglFcCounter, "GBA"], //SGL FC Body Quantity
					[cbCounter, "CBCA-LHN"], //CB Valve Quantity
					[poCounter, "CKCB-XCN"], //PO Valve Quantity
					[redCounter, "PPDB"], //RED Valve Quantity, must add suffix
					[(sglCbCounter + sglPoCounter + redACounter + redBCounter), "EBA"], //SGL CTL Body Quantity
					[(dblCbCounter + dblPoCounter + dblRedCounter), "EBY"], // DBL CTL Body Quantity
					[redPCounter, "EBP"], //P Port Reducing
					[relCounter, "RDDA"], //Relief Valve Quantity
					[sglRelCounter, "FBP"], //P Port Relief
					[dblRelCounter, "FBY"] //Cross Port relief
				];
				if(pressure == "highPressure"){
					partNumbers[5][1] += "-LCN";
					partNumbers[9][1] += "-LCN";
					partNumbers[1][1] += "/S";
					partNumbers[2][1] += "/S";
					partNumbers[6][1] += "/S";
					partNumbers[7][1] += "/S";
					partNumbers[8][1] += "/S";
					partNumbers[10][1] += "/S";
					partNumbers[11][1] += "/S";					
				}else{
					partNumbers[5][1] += "-LAN";
					partNumbers[9][1] += "-LAN";
				}
				
			}else if(valveSize == "D05"){
				var partNumbers = [
					[fcCounter, "NCEB-LCN"], //FC Valve Quantity
					[dblFcCounter, "DBY"], //DBL FC Body Quantity
					[fcBin, "DBA"], //Meter In B, Meter Out A Body
					[fcAin, "DBB"], //Meter In A, Meter Out B Body
					[cbCounter, "CBEA-LHN"], //CB Valve Quantity
					[poCounter, "CKEB-XCN"], //PO Valve Quantity
					[redCounter, "PPFB"], //RED Valve Quantity, must add suffix
					[(cbACounter + poACounter + redACounter), "BBA"], //Control A Port Body
					[(cbBCounter + poBCounter + redBCounter), "BBB"], //Control B Port Body
					[(dblCbCounter + dblPoCounter + dblRedCounter), "BBY"], //Control A and B Ports Body
					[redPCounter, "BBP"], //Reduce P Port body
					[relCounter, "RDFA"], //REL valve Quantity
					[sglRelCounter, "CBP"], //P Port relief Body
					[dblRelCounter, "CBY"] //Cross Port Relief Body
				];
				if(pressure == "highPressure"){
					partNumbers[6][1] += "-LCN";
					partNumbers[11][1] += "-LCN";
					partNumbers[1][1] += "/S";
					partNumbers[2][1] += "/S";
					partNumbers[3][1] += "/S";
					partNumbers[7][1] += "/S";
					partNumbers[8][1] += "/S";
					partNumbers[9][1] += "/S";
					partNumbers[10][1] += "/S";
					partNumbers[12][1] += "/S";
					partNumbers[13][1] += "/S";
				}else{
					partNumbers[6][1] += "-LAN";
					partNumbers[11][1] += "-LAN";
				}
			}else if(valveSize == "D08"){
				var partNumbers = [
					[fcCounter, "NCGB-LCN"], //FC Valve Quantity
					[dblFcInCnt, "IBZ"], //DBL FC In Body Quantity
					[dblFcOutCnt, "IBY"], //DBL FC Out Body Quantity
					[fcAin, "IBC"], //Meter In A Body
					[fcAout, "IBA"], //Meter Out A Body
					[fcBin, "IBD"], //Meter In B Body
					[fcBout, "IBB"], //Meter Out B Body
					[cbCounter, "CBIA-LHN"], //CB Valve Quantity
					[poCounter, "CKIB-XCN"], //PO Valve Quantity
					[redCounter, "PPJB"], //RED Valve Quantity, must add suffix
					[(cbACounter + poACounter + redACounter), "HBA"], //Control A Port Body
					[(cbBCounter + poBCounter + redBCounter), "HBB"], //Control B Port Body
					[(dblCbCounter + dblPoCounter + dblRedCounter), "HBY"], //Control A and B Ports Body
					[redPCounter, "HBO"], //Reduce P Port body
					[relCounter, "RDHA"], //REL valve Quantity
					[sglRelCounter, "CBO"], //P Port relief Body
					[dblRelCounter, "CBW"] //Cross Port Relief Body
				];
			if(pressure == "highPressure"){
					partNumbers[9][1] += "-LCN";
					partNumbers[14][1] += "-LCN";
					partNumbers[1][1] += "/S";
					partNumbers[2][1] += "/S";
					partNumbers[3][1] += "/S";
					partNumbers[4][1] += "/S";
					partNumbers[5][1] += "/S";
					partNumbers[6][1] += "/S";
					partNumbers[10][1] += "/S";
					partNumbers[11][1] += "/S";
					partNumbers[12][1] += "/S";
					partNumbers[13][1] += "/S";
					partNumbers[15][1] += "/S";
					partNumbers[16][1] += "/S";
				}else{
					partNumbers[9][1] += "-LCN";
					partNumbers[14][1] += "-LCN";
				}
			}
			var bomTable = "<tr><td>1</td><td>" + manifoldPN + "</td></tr>";
			if(reliefPN != null){
				bomTable += "<tr><td>1</td><td>" + reliefPN + "</td></tr>";
			}
			for(y=0 ; y < spoolValveCodes.length ; y++){
				$("#bomBody").append("<tr><td>1</td><td>" + spoolValveCodes[y] + "</tr></td>");
			}
			for(y=0 ; y < partNumbers.length ; y++){
				if(partNumbers[y][0] != 0){
					bomTable += ("<tr><td>" + partNumbers[y][0] + 
					"</td><td>" + partNumbers[y][1] + "</td></tr>");
				}
			}
			console.log("110V: " + voltageAR[0] + "<br>24V: " + voltageAR[1] + "<br>12V: " + voltageAR[2] + "<br>230V: " + voltageAR[3]);
			if($("#cableSelect").val() == 1){
				if(voltageAR[0] > 0){
					bomTable +=("<tr><td>" + voltageAR[0] + "</td><td>5J6F4-551-US0A</td></tr>");
					}
				if(voltageAR[1] > 0){
					bomTable +=("<tr><td>" + voltageAR[1] + "</td><td>5J6F4-251-US0A</td></tr>");
				}
				if(voltageAR[2] > 0){
					bomTable +=("<tr><td>" + voltageAR[2] + "</td><td>5J6F4-000-US0A</td></tr>");
				}
			}
			$("#bomBody").append(bomTable);
			$("#billOfMaterials").removeAttr("hidden", "hidden");
			$("#submitTable").attr("hidden", "hidden");
			$(".valveCables").attr("hidden", "hidden");
			$(".clean2").attr("hidden", "hidden");
			
		});
</script>